body {
  background-color: #EAF6F6;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  background-color: #EAF6F6;
  width: 70px;
  height: 70px;
  max-width: 50%;
  max-height: 50%; 
}

.circular {
  border-radius: 100%;
}
